@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Source+Code+Pro&display=swap');

font-family: 'Source Code Pro', monospace;
font-family: 'Raleway', sans-serif;

img{
  height: 150px;
  width: 150px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #22eaca;
}

h2, h3{
  font-family: 'Source Code Pro', monospace;
  color: #b31e6f;
}

body {
  text-align: center;
  line-height: 1.2;
  background-color: #eeeeee
}

ul{
  padding: 0;
}

li {
  list-style: none;
  font-size: 40px;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

a{
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  color: #ee5a5a;
  text-decoration: none;
}

.image-rounded {
  border-radius: 50%;
  width: 150px;
}

.card {
    background: floralwhite;
    padding: 30px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.button-connect {
    background-color: #00bdaa;
    width: 30%;
    margin: 0 auto;
    padding: 6px;
    border-radius: 60px;
}
